/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Playfair+Display:wght@700;800&display=swap');
/*Overridden Styles*/

body {
    font-family: 'Heebo', sans-serif;
    background-color: #FAFAFA;
    color: #1B1B1B;
}

header nav {
    float: right;
    padding-bottom: 3rem;
}

header nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    color: #1D1D1D;
    height: 50px;
    line-height: 63.5px;
    padding-top: 35px;
    padding-left: 50px;
    text-decoration: none;
    display: block;
}

header nav ul li a:hover {
    font-weight: 600;
    color: #1D1D1D;
}


.border {
    border-color: #B3B3B3!important;
}


/*Custom Styles*/

.imgs-fluid {
    max-width: 100%;
    object-fit: contain;
}

.fas .fa-bars {
    color: #1D1D1D;
}

.fas .fa-times {
    color: #1D1D1D;
}

.menu-toggle {
    float: right;
    line-height: 55px;
    padding-top: 35px;
    font-size: 24px;
    cursor: pointer;
    display: none;
}

.menu-toggle-exit {
    text-align: right;
    padding-top: 40px;
    box-sizing: border-box;
    line-height: 0px;
    font-size: 28px;
    cursor: pointer;
    display: none;
}

.em-logo a {
    color: #1D1D1D;
    height: 50px;
    padding-top: 35px;
    line-height: 50px;
    text-decoration: none;
    font-size: 25px;
    float: left;
}

.list-in {
    padding-left: 1.9rem;
}

.em-menu {
    padding-top: 9px;
}

.em-header {
    font-family: 'Playfair Display', serif;
    font-weight: 800;
}

.proj-header {
    font-family: 'Heebo', sans-serif;
    font-weight: 900;
}

.cs-header {
    font-family: 'Playfair Display', serif;
    font-weight: 800;
    line-height: 2.6rem;
}

.contact-link {
    font-size: 35px;
    color: #1D1D1D;
    transition: 0.5s;
}

.contact-link:hover {
    font-size: 35px;
    color: #285C94;
}

.mail-space {
    margin-left: 0.5rem!important;
    margin-right: 0.5rem!important;
}

.spc {
    padding-top: 7.5vh;
    padding-bottom: 3vh;
}

.contact-spc {
    padding-bottom: 3vh;
}

.nvlk {
    padding-right: 2.5rem!important;
}

.nav-set {
    background-color: #FAFAFA;
}

.cs-h1 {
    font-family: 'Heebo', sans-serif;
    font-size: 12.5px;
    color: #1B1B1B;
    letter-spacing: 2px;
}

.cs-h1::before {
    content: '';
    display: inline-block;
    width: 50px;
    height: 1px;
    background: #555;
    vertical-align: top;
    margin-top: 6.1px;
    margin-right: 10px;
}

.ff-cs-h1 {
    color: #FAFAFA!important;
}

.ff-cs-h1::before {
    background: #FAFAFA!important;
}

.roles-hdr {
    font-family: 'Heebo', sans-serif;
    font-size: 16px;
    font-weight: 800;
    color: #1B1B1B;
    letter-spacing: 1px;
}

.roles {
    list-style-type: none!important;
    font-size: 14px;
    font-weight: 350;
    padding-left: 0;
    line-height: 1.7rem;
}

.ff-cs {
    background-color: #FFF1A6;
}

.ff-cs1 {
    background-color: #285C94;
    color: #FAFAFA;
}

.ff-cs2 {
    background-color: #ECEEF8;
}

.int-q {
    background-color: #FAFAFA;
}

.row-m {
    margin-right: 0;
    margin-left: 0;
}

h1 .contact-header {
    font-size: 25px!important;
}

/*Media Queries*/

/* Extra small devices (portrait phones, less than 576px) */

/* No media query for `xs` since this is the default in Bootstrap */

/* Extra small devices */

@media (max-width: 575px) {
    .cs-text {
        font-size: 14px;
        font-weight: 500;
        line-height: 2rem;
    }
    .imgs-resize3 {
        display: none!important;
    }
}


/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {
    .cs-text {
        font-size: 14px;
        font-weight: 500;
        line-height: 2rem;
    }

}


/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
    .border-section {
        max-width: 900px;
    }
    .cs-text {
        font-size: 16px;
        font-weight: 500;
        line-height: 2rem;
    }
    .imgs-resize {
        width: 70%;
        align-items: baseline;
    }
    .imgs-resize2 {
        width: 75%;
        align-items: baseline;
    }
    
    .extra-pd {
        padding-top: 1.9rem;
    }

    .row{
        --bs-gutter-x:0!important;
    }

    .mb-fs{
        margin-top: 11px!important;
    }
}

@media (max-width: 767px) {
    header nav ul li a {
        padding-top: 5px;
    }
    .menu-toggle {
        padding-top: 5px;
    }
    .em-logo a {
        padding-top: 5px;
    }
    .menu-toggle-exit {
        padding-top: 5px;
    }
}

@media (max-width: 991px) {
    header {
        padding: 0 20px;
    }
    .menu-toggle {
        display: block;
    }
    .menu-toggle-exit {
        display: block;
    }
    header nav {
        position: absolute;
        box-sizing: border-box;
        width: 100%;
        height: 150%;
        left: -100%;
        padding-top: 10px;
        background-color: #FAFAFA;
        transition: 0.5s;
    }
    header nav.active {
        left: 0;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    header nav ul {
        padding-top: -0.5rem;
        display: block;
        text-align: center;
    }
    header nav ul li a {
        padding: 2.5rem;
    }

    .imgs-resize3 {
        display: none!important;
    }
}

    

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    .cs-text {
        font-size: 16px;
        font-weight: 500;
        line-height: 2.3rem;
    }
    .border-x {
        padding-left: 9rem!important;
        padding-right: 9rem!important;
    }
    .border-x-menu {
        padding-left: 8.125rem!important;
        padding-right: 8.125rem!important;
    }
    .imgs-resize3 {
        width: 95%;
        padding-left: 1rem;
        padding-top: 2rem;
    }
    .row{
        --bs-gutter-x:0!important;
    }
    .mb-fs{
        margin-top: 41px!important;
    }
}


/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    .border-x {
        padding-left: 9rem!important;
        padding-right: 9rem!important;
    }
    .border-x-menu {
        padding-left: 8.125rem!important;
        padding-right: 8.125rem!important;
    }
}

@media (min-width: 1400px) {
    .imgs-resize3{
        width: 75%;
        padding-left: 2rem;
        padding-top: 1rem;
    }
}
