/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Playfair+Display:wght@700;800&display=swap');
/*Overridden Styles*/

body {
    font-family: 'Heebo', sans-serif;
    background-color: #FAFAFA;
    color: #3C3C3C;
}

header nav {
    float: right;
    padding-bottom: 3rem;
}

header nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    color: #3C3C3C;
    height: 50px;
    line-height: 63.5px;
    padding-top: 35px;
    padding-left: 50px;
    text-decoration: none;
    display: block;
    letter-spacing: 0.8px!important;
}

strong {
    font-weight: 700;
}

/*Custom Styles*/

.border {
    border-color: #B3B3B3!important;
}

.imgs-fluid {
    max-width: 100%;
    object-fit: contain;
}

.fas .fa-bars {
    color: #3C3C3C;
}

.fas .fa-times {
    color: #3C3C3C;
}

.menu-toggle {
    float: right;
    line-height: 55px;
    padding-top: 35px;
    font-size: 24px;
    cursor: pointer;
    display: none;
}

.menu-toggle-exit {
    text-align: right;
    padding-top: 40px;
    box-sizing: border-box;
    line-height: 0px;
    font-size: 28px;
    cursor: pointer;
    display: none;
}

.em-logo a {
    color: #3C3C3C;
    height: 50px;
    padding-top: 35px;
    line-height: 50px;
    text-decoration: none;
    font-size: 22.5px;
    float: left;
}

.em-logo {
    font-size: 22.5px;
}

.em-menu {
    padding-top: 9px;
}

.em-header {
    font-family: 'Heebo', sans-serif;
    font-weight: 900;
    letter-spacing: 3px;
}

.proj-header {
    font-family: 'Heebo', sans-serif;
    font-weight: 900;
}

.cs-header {
    font-family: 'Playfair Display', serif;
    font-weight: 800;
    line-height: 2.6rem;
}

.contact-link {
    font-size: 35px;
    color: #3C3C3C;
    transition: 0.5s;
}

.contact-link:hover {
    font-size: 35px;
    color: #285C94;
}

.mail-space {
    margin-left: 0.5rem!important;
    margin-right: 0.5rem!important;
}

.spc {
    padding-top: 7.5vh;
    padding-bottom: 3vh;
}

.contact-spc {
    padding-bottom: 3vh;
}

.nvlk {
    padding-right: 2.5rem!important;
}

.nav-set {
    background-color: #FAFAFA;
}

.cs-h1 {
    font-family: 'Heebo', sans-serif;
    font-size: 12px;
    color: #3C3C3C;
    letter-spacing: 2px;
    font-weight: 400;
}

.cs-h1::before {
    content: '';
    display: inline-block;
    width: 50px;
    height: 1px;
    background: #555;
    vertical-align: top;
    margin-top: 6.1px;
    margin-right: 10px;
}

.ff-cs-h1 {
    color: #FAFAFA!important;
}

.ff-cs-h1::before {
    background: #FAFAFA!important;
}

.ff {
    background-color: #FFF1A6;
}

.mndz {
    background-color: #ffbbb7bd;
}


.ff-cs1 {
    background-color: #285C94;
    color: #FAFAFA;
}

.ff-cs2 {
    background-color: #ECEEF8;
}

.int-q {
    background-color: #FAFAFA;
}

.row-m {
    margin-right: 0;
    margin-left: 0;
}

h1 .contact-header {
    font-size: 25px!important;
}

.contacts {
    letter-spacing: 1px!important;
    color: #3C3C3C!important;
    font-size: 15px;
    padding-left: 7px;
    padding-right: 7px;
    font-weight: 400;
}

.contacts:hover {
    color: #DEC33B!important;
}

a:hover {
    color: #DEC33B;
}

.em-logo a:hover {
    color: #3C3C3C;
}

.hover-opacity:hover {
    opacity: 85%;
    transition: 0.5s;
}

.prob {
    background-color: #FAFAFA!important;
}


/*Media Queries*/

/* Extra small devices (portrait phones, less than 576px) */

/* No media query for `xs` since this is the default in Bootstrap */

/* Extra small devices */

@media (max-width: 575px) {
    .h3, h3 {
        font-size: calc(1.2rem + .2rem)!important;
    }
    .cs-text {
        font-size: 12px;
        font-weight: 400;
        line-height: 1.7rem;
        letter-spacing: 0.2px;
    }
    .roles-hdr {
        font-family: 'Heebo', sans-serif;
        font-size: 14px;
        font-weight: 800;
        color: #3C3C3C;
        letter-spacing: 1px;
    }
    .roles {
        list-style-type: none!important;
        font-size: 12px;
        font-weight: 350;
        padding-left: 0;
        letter-spacing: 0.2px;
        line-height: 1.7rem;
    }
    .border-x {
        padding-left: 1.62rem!important;
        padding-right: 1.62rem!important;
    }
    .imgs-resize3 {
        display: none!important;
    }
    .center-im {
        padding-left: 20px!important;
    }
    .extra-pd {
        padding-top: 2rem;
    }
    .extra-pd-1 {
        padding-top: 1rem;
    }
    .border-x-menu {
        padding-left: 0.91rem!important;
        padding-right: 0.91rem!important;
    }
    .list-in {
        padding-left: 1rem;
    }
    .em-logo a {
        margin-top: -28.3px;
    }
    .menu-toggle-exit {
        margin-top: 1.5px;
        margin-right: 0.2rem;
    }
    .toggle-exit {
        padding-top: 75px;
        text-transform: uppercase;
    }
    .fp {
        letter-spacing: 0.8px;
        font-weight: 400;
        padding-left: 0.2rem;
        padding-bottom: 0rem;
        padding-top: 1rem;
        font-size: 12px;
    }
    .fp::before {
        content: '';
        display: inline-block;
        width: 50px;
        height: 0.5px;
        background: #555;
        vertical-align: top;
        margin-top: 8.7px;
        margin-right: 10px;
    }
    .contact {
        padding-top: 1.7rem;
        padding-bottom: 2.2rem;
    }
    .contacts {
        font-size: 12px;
    }
    .lp-space {
        padding-top: 5.7rem;
        padding-bottom: 1.8rem;
    }
    .row {
        --bs-gutter-x: 0;
    }
    .text-jstfy {
        text-align: justify;
    }
    .img-ors {
        width: 70%;
    }
    .mndz-o{
        width: 100%;
        padding-top: 0.5rem;
        padding-bottom: 1.5rem;
    }
    
}

/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {
    .cs-text {
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.2px;
        line-height: 2rem;
    }
    .roles-hdr {
        font-family: 'Heebo', sans-serif;
        font-size: 15px;
        font-weight: 800;
        color: #3C3C3C;
        letter-spacing: 1px;
    }
    .roles {
        list-style-type: none!important;
        font-size: 14px;
        font-weight: 350;
        padding-left: 0;
        letter-spacing: 0.2px;
        line-height: 2rem;
    }
    .border-x {
        padding-left: 1.63rem!important;
        padding-right: 1.63rem!important;
    }
    .center-im {
        padding-left: 20px!important;
    }
    .extra-pd {
        padding-top: 1.7rem;
    }
    .extra-pd-1 {
        padding-top: 1rem;
    }
    .border-x-menu {
        padding-left: 0.9rem!important;
        padding-right: 0.9rem!important;
    }
    .list-in {
        padding-left: 1.1rem;
    }
    .em-logo a {
        margin-top: -28.4px;
    }
    .menu-toggle-exit {
        margin-top: 1.5px;
        margin-right: 0.2rem;
    }
    .fp {
        letter-spacing: 0.8px;
        font-weight: 400;
        padding-left: 0.2rem;
        padding-bottom: 0rem;
        padding-top: 1rem;
        font-size: 14px;
    }
    .fp::before {
        content: '';
        display: inline-block;
        width: 70px;
        height: 0.5px;
        background: #555;
        vertical-align: top;
        margin-top: 10px;
        margin-right: 10px;
    }
    .contact {
        padding-top: 1.7rem;
        padding-bottom: 2.2rem;
    }
    .contacts {
        font-size: 14px;
    }
    .lp-space {
        padding-top: 5.2rem;
        padding-bottom: 2.7rem;
    }
    .row {
        --bs-gutter-x: 0;
    }
    .text-jstfy {
        text-align: justify;
    }
    .img-ors {
        width: 70%;
    }
    .mndz-o{
        width: 100%;
        padding-top: 0.5rem;
        padding-bottom: 1.7rem;
    }
    .h3, h3 {
        font-size: calc(1.2rem + .2vw)!important;
    }
    
}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
    .border-section {
        max-width: 900px;
    }
    .border-x {
        padding-left: 1.63rem!important;
        padding-right: 1.63rem!important;
    }
    .cs-text {
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.2px;
        line-height: 2rem;
    }
    .my-role {
        padding-top: 0.8rem!important;
    }
    .imgs-resize {
        width: 70%;
        align-items: baseline;
    }
    .imgs-resize2 {
        width: 75%;
        align-items: baseline;
    }
    .center-im-1 {
        padding-left: 30px!important;
    }
    .extra-pd {
        padding-top: 1.9rem;
    }
    .row {
        --bs-gutter-x: 0!important;
    }
    .mb-fs {
        margin-top: 23px!important;
    }
    .center-im {
        padding-left: 0px;
    }
    .list-in {
        padding-left: 1.15rem;
    }
    .em-logo a {
        line-height: 109px;
    }
    .menu-toggle-exit {
        margin-top: -1px;
        margin-right: 1.5rem;
    }
    .fp {
        letter-spacing: 0.8px;
        font-weight: 400;
        padding-left: 0.4rem;
        padding-bottom: 0rem;
        padding-top: 1rem;
        font-size: 14px;
    }
    .fp::before {
        content: '';
        display: inline-block;
        width: 70px;
        height: 0.5px;
        background: #555;
        vertical-align: top;
        margin-top: 10px;
        margin-right: 10px;
    }
    .contact {
        padding-top: 1.7rem;
        padding-bottom: 2.2rem;
    }
    .contacts {
        font-size: 14px;
    }
    .lp-space {
        padding-top: 7rem;
        padding-bottom: 2.2rem;
    }
    .text-jstfy {
        text-align: justify;
    }
    .img-ors {
        width: 95%;
    }
    .mndz-o{
        width: 100%;
        padding-top: 3.1rem;
        padding-bottom: 3.5rem;
        padding-left: 40px;
    }
    .h3, h3 {
        font-size: calc(1.2rem + .4vw)!important;
    }
    
}

@media (max-width: 767px) {
    header nav ul li a {
        padding-top: 5px;
    }
    .menu-toggle {
        padding-top: 5px;
    }
    .menu-toggle-exit {
        padding-top: 5px;
    }
    .toggle-exit {
        padding-top: 75px;
        text-transform: uppercase;
    }
}

@media (max-width: 991px) {
    header {
        padding: 0 20px;
    }
    .menu-toggle {
        display: block;
    }
    .menu-toggle-exit {
        display: block;
    }
    header nav {
        position: absolute;
        box-sizing: border-box;
        width: 100%;
        height: 150%;
        left: -100%;
        padding-top: 10px;
        background-color: #FAFAFA;
        transition: 0.5s;
    }
    header nav.active {
        left: 0;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        background-color: #FFE45A;
    }
    header nav ul {
        padding-top: -0.1rem;
        display: block;
        text-align: center;
    }
    header nav ul li a {
        padding: 2.5rem;
    }
    header nav ul li a:hover {
        color: #3C3C3C;
    }
    .imgs-resize3 {
        display: none!important;
    }
    .toggle-exit {
        padding-top: 75px;
        text-transform: uppercase;
    }
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    .cs-text {
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.2px;
        line-height: 2.2rem;
    }
    .roles {
        list-style-type: none!important;
        font-size: 13.5px;
        font-weight: 350;
        padding-left: 0;
        letter-spacing: 0.2px;
        line-height: 2rem;
    }
    .border-x {
        padding-left: 9.2rem!important;
        padding-right: 9.2rem!important;
    }
    .border-x-menu {
        padding-left: 8.45rem!important;
        padding-right: 8.45rem!important;
    }
    .imgs-resize3 {
        width: 95%;
        padding-left: 1rem;
        padding-top: 2rem;
    }
    .row {
        --bs-gutter-x: 0!important;
    }
    .mb-fs {
        margin-top: 48px!important;
    }
    .center-im-1 {
        padding-left: 40px!important;
    }
    .img-ors {
        width: 100%;
    }
    .em-logo a {
        line-height: 109px;
    }
    header nav ul li a {
        margin-top: -2px;
        font-size: 15px;
    }
    .lpt {
        font-family: 'Playfair Display', serif;
        font-size: 30px!important;
        font-weight: 900;
        letter-spacing: 0.5px;
        line-height: 30px;
    }
    .lpt-1 {
        font-family: 'Playfair Display', serif;
        font-size: 30px!important;
        font-weight: 400;
        letter-spacing: 0.5px;
    }
    .fp {
        letter-spacing: 0.8px;
        font-weight: 400;
        padding-left: 0.4rem;
        padding-bottom: 0rem;
        padding-top: 1rem;
        font-size: 16px;
    }
    .fp::before {
        content: '';
        display: inline-block;
        width: 100px;
        height: 0.5px;
        background: #555;
        vertical-align: top;
        margin-top: 11.5px;
        margin-right: 10px;
    }
    .contact {
        padding-top: 1.7rem;
        padding-bottom: 2.2rem;
    }
    .contacts {
        font-size: 16px;
    }
    .lp-space {
        padding-top: 7rem;
        padding-bottom: 2.2rem;
    }
    .mndz-o{
        width: 100%;
        padding-top: 4.4rem;
        padding-bottom: 4.8rem;
        padding-left: 50px;
    }

    .ilus{
        padding-left: 50px!important;
        width: 100%;
    }
    .h3, h3 {
        font-size: calc(1.2rem + .6vw)!important;
    }
}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    .cs-text {
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.2px;
        line-height: 2.4rem;
    }
    .roles {
        list-style-type: none!important;
        font-size: 15px;
        font-weight: 350;
        padding-left: 0;
        letter-spacing: 0.2px;
        line-height: 2rem;
    }
    .border-x {
        padding-left: 9.2rem!important;
        padding-right: 9.2rem!important;
    }
    .border-x-menu {
        padding-left: 8.45rem!important;
        padding-right: 8.45rem!important;
    }
    .img-ors {
        width: 95%;
    }
    .mb-fs {
        margin-top: 31px!important;
    }
    .center-im-1 {
        padding-left: 50px!important;
    }
    .em-logo a {
        line-height: 109px;
    }
    header nav ul li a {
        margin-top: -1px;
    }
    .fp {
        letter-spacing: 0.8px;
        font-weight: 400;
        padding-left: 0.6rem;
        padding-bottom: 0rem;
        padding-top: 1rem;
        font-size: 16px;
    }
    .fp::before {
        content: '';
        display: inline-block;
        width: 100px;
        height: 0.5px;
        background: #555;
        vertical-align: top;
        margin-top: 11.5px;
        margin-right: 10px;
    }
    .contact {
        padding-top: 1.7rem;
        padding-bottom: 2.2rem;
    }
    .contacts {
        font-size: 16px;
    }
    .lp-space {
        padding-top: 7rem;
        padding-bottom: 2.2rem;
    }
    .mndz-o{
        width: 100%;
        padding-top: 4.3rem;
        padding-bottom: 3.8rem;
        padding-left: 60px;
    }

    .ilus{
        padding-left: 50px!important;
        width: 100%;
    }
}

@media (min-width: 1400px) {
    .imgs-resize3 {
        width: 75%;
        padding-left: 2rem;
        padding-top: 1rem;
    }
    .img-ors {
        width: 95%;
    }
    header nav ul li a {
        margin-top: -3px;
    }

    .mb-fs {
        margin-top: 37px!important;
    }
    .center-im-1 {
        padding-left: 40px!important;
    }

    .mndz-o{
        width: 100%;
        padding-top: 4rem;
        padding-bottom: 3rem;
        padding-left: 100px;
    }

    .ilus{
        padding-left: 50px!important;
        width: 90%;
    }
}